body{
    background-color: #f4f4f4;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
}
img{
    display: block;
}
.containar{
    max-width: 1201px;
    margin: 0 auto;
    padding: 60px 15px;
}
/* Медіа запит */
@media(max-width:1200px){
    .containar{
        width: 830px;
    }
}
@media(max-width:829px){
    .containar{
        max-width: 600px;
    }
}
.row{
    display: flex;
    justify-content: space-between;
}
.main{
    width: 870px;
}
.sidebar{
    min-width: 200px;
    width: 270px;
}
@media(max-width:829px){
    .sidebar{
        /* display: none;скриваю */
        margin-left: 0 !important;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        padding: 15px;
        box-shadow: 0px 0px 20px 4px rgb(0 0 0 / 37%);
        /* можливіст скролить */
        overflow-y: scroll;
        /* скриваня меню */
        transform: translateX(-150%);
        transition: transform 0.3s ease-in;
    }
    .sidebar--mobile-active{
        transform: translateX(-0%);
    }
}
.main + .sidebar{
    margin-left: 30px;
}
.cards-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media(max-width:599px){
    .cards-holder{
        flex-direction: column;
        align-items: center;
    }
}
.cards-holder > .card-link{
    margin-bottom: 30px;
}

.card-link--hidden{
    display: none !important;
}

/* card*/
a.card-link{
    display: inline-block;
    text-decoration: none;
    transition: aLL 0.2s ease-in;
}
a.card-link:hover{
    opacity: 0.8;
    transform: translateY(-5px);/*поднімання силки*/
}
.card{
    position: relative;
    width: 270px;
    background-color:#fff;
}
.card__badges{
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
    display: flex;
}
.card__badges > * + *{/*силектор*/
    margin-left: 10px;
}
.card__badge{
    display: inline-block;
    height: 22px;
    padding: 0 10px;
    background: #4b4b4b;
    border-radius: 4px;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}
.card__badge--class{
    background: #FFCF26;
}
.card__badge--credit{
    background: #11BE75;
}
.card__content{
    padding: 16px 15px 20px;
}
.card__title{
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    color: #000000;
}
.card__tern{
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
}
.card__metro{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 2.9;
    color: #000000;
}
.card__metro::before{  /*псевдо елемент*/
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: baseline;
    width: 16px;
    height: 11px;
    background-image: url(./../img/icons/Moscow_Metro\ 1.svg);
    background-repeat: no-repeat;
    background-size: initial;
}
.card__adress{
    font-size: 14px;
    line-height: 0;
    color: #777777;;
} 
/*Button more*/
.btn-more{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #E5E5E5;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 18px;
    line-height: 21px;   
    color: #4290C9;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}
.btn-more:hover{
    background-color: #e2e0e0;
}
.btn-more img{
    /* display: inline-block; */
    margin-right: 10px;
    /* vertical-align: bottom; */
}

/*saidbar*/
.widget + .widget{
    margin-top: 33px;
}
.widget--top-30{
    margin-top: 30px !important/*перебить цыпочку*/;
}
.widget__title{
    position:relative;    
    margin-bottom: 21px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    color: #000000;
    cursor: pointer;
}
.widget__title::after{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    right: 1px;
    top: -1px;
    background-image: url(./../img/icons/chevron-up.svg);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
}
.widget__title--active::after{
    transform: rotate(180deg);
}
.widget__body{}
.widget__body--hidden{
    display: none;
}
/* location buttons group*/
.location{}
.location__row{
    display: flex;
}
.location__row:first-child{
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    border: 1px solid #D6D6D6;
}
.location__row:last-child{
    overflow: hidden;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #D6D6D6;
    border-top: none;
}
.location__btn{
    font-family: inherit;
    height: 48px;
    padding: 0 15px;
    background-color: transparent;/*прозрачный*/
    border: none;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    color: #3C3C3C;
    flex-grow: 1;
    cursor: pointer;
    /* плавний перехід */
    transition: backround-color 0.2s ease-in;
}
.location__btn:hover{
    background-color: #ffd02677;
}
.location__checkbox{/*скривання чек боксів*/
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}
.location__checkbox:checked + .location__btn{
    background-color: #FFCF26;
}
.location__checkbox:checked + .location__btn:hover{
    background-color: #e0b20c;
}

/* Radio */

.radio{
    display: block;
    cursor: pointer;
}
.radio + .radio{
    margin-top: 15px;
}
.radio__real{
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}
.radio__fake{
    position: relative;
    display: inline-block;
    margin-right: 7px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #777777;
    border-radius: 50%;
    vertical-align: bottom;
}
.radio__real:checked + .radio__fake{
    background-color: #FFE074;
}
.radio__real:checked + .radio__fake::before{
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: #3C3C3C;
    transform: translate(-50%,-50%);
}
.radio__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #000000;
}
.radio__real:checked ~ .radio__title{
    font-weight: 500;
}

/* Checkbox */
.checkbox{
    display: block;
    cursor: pointer;
}
.checkbox--hidden{
    display: none;
}
.checkbox + .checkbox{
    margin-top: 15px;
}
.checkbox__real{
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}
.checkbox__fake{
    position: relative;
    display: inline-block;
    margin-right: 7px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #777777;
    border-radius: 2px;
    vertical-align: bottom;
}
.checkbox__real:checked + .checkbox__fake{
    background-color: #FFE074;
}
.checkbox__real:checked + .checkbox__fake::before{/*ппсевдо елемент*/
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url(./../img/icons/checkbox\ checked.svg);
    background-size: initial;
    background-position: center;
    transform:translate(-50%,-50%) ;
}
.checkbox__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #000000;
}
.checkbox__real:checked ~ .checkbox__title{
    font-weight: 500;
}

/* hidden-elemets widget*/
.widget__hidden{
    display: none;
}
.widget__btn-show-hidden{
    display: inline-block;
    margin-top: 15px;
    padding: 0;
    background: transparent;
    border: none;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    color: #4290C9;
    cursor: pointer;
    transition: color 0.2s ease-in;
}
.widget__btn-show-hidden:active .widget__btn-show-hidden:focus{
    outline: none;
}
.widget__btn-show-hidden:hover{
    color: #187bc2;
    text-decoration: underline;
}

/* Toggle */

.toggle{
    cursor: pointer;
}
.toggle__real{
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}
.toggle__fake{
    position: relative;
    display: inline-block;
    margin-right: 7px;
    width: 37px;
    height: 20px;
    background: #C4C4C4;
    border-radius: 10px;
    vertical-align: bottom;
}
.toggle__fake::before{
    position: absolute;
    top: 2px;
    left: 2px;
    content: "";
    width: 16px;
    height: 16px;
    background: #3C3C3C;
    border-radius: 50%;
    transition: oll 0.2s ease-in;
}
.toggle__real:checked + .toggle__fake{
    background: #FFE074;
}
.toggle__real:checked + .toggle__fake::before{
    left: 19px;
    /* right: 2px; */
}
.toggle__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #000000;
}
.toggle__real:checked ~ .toggle__title{
    font-weight: 500;
}
/* Form buttons */
.form-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    background-color: transparent;
    font-family: inherit;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    color: #3C3C3C;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}
.form-btn img{
    /* display: inline-block; */
    margin-right: 6px;
    /* vertical-align: middle; */
    /* margin-top: -2px; */
}
.form-btn:hover{
    background-color: #e6e3e3;
}
.form-btn + .form-btn{
    margin-top: 10px;
}
.form-btn--sumbmit{
    background: #FFCF26;
    border: none;
    color: #000;
}
.form-btn--sumbmit:hover{
    background: #ffd744d5;
}

/* button taggle sidebar */
.toggle-sidebar{
    display: none;
    position: fixed;
    z-index: 9;
    right: 15px;
    top: 5px;
    width: 45px;
    height: 45px;
    background-color: #3a3a3a;
    justify-content: center;
    align-items: center;
}
@media (max-width:829px){
    .toggle-sidebar{
        display: flex;
    }
}
.menu-icon-wrapper {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      border: none;
      background-color: transparent;
    }
    
    .menu-icon {
      position: relative;
      width: 30px;
      height: 5px;
      background-color: #fff;
    }
    
    .menu-icon::before {
      position: absolute;
      left: 0;
      top: -10px;
      content: '';
      width: 30px;
      height: 5px;
      background-color: #fff;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    
    }
    
    .menu-icon::after {
      position: absolute;
      left: 0;
      top: 10px;
      content: '';
      width: 30px;
      height: 5px;
      background-color: #fff;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    
    }
    
    .menu-icon.menu-icon-active {
      background-color: transparent;
    }
    
    .menu-icon.menu-icon-active::before {
      transform: rotate(45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    
    .menu-icon.menu-icon-active::after {
      transform: rotate(-45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }